*{
    padding: 0;
    margin: 0;
}

table{
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin: 0;
    width: 100%;
    
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }

.web{
    font-style: italic;
}

.code{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: white;
}

h1{
    display: flex;
    justify-content: center;
}

